version: '3.3'
services:
  db:
    image: postgres
    container_name: rbtt_postgres
    ports:
      - 5433:5432
    restart:
      always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - /var/lib/postgresql:/var/lib/postgresql
  app:
    container_name: rbtt
    build: .
    ports:
      - 8021:8080
    restart:
      always
    environment:
      POSTGRES_URL: jdbc:postgresql://db:5432/postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    depends_on:
      - db

