version: "3"
services:
  api_service:
    build: .
    container_name: web_app
    restart: on-failure
    ports:
      - "8080:8080"
    depends_on:
      - mysql_db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql_db:3306
      - SPRING_DATASOURCE_USERNAME=SocksService
      - SPRING_DATASOURCE_PASSWORD=1337322
  mysql_db:
    image: "mysql:8.0.17"
    ports:
      - "3307:3306"
    environment:
      - MYSQL_DATABASE=SocksServiceDB
      - MYSQL_USER=SocksService
      - MYSQL_PASSWORD=1337322
      - MYSQL_ROOT_PASSWORD=r00tpwd888