version: '3.8'

services:
  database:
    image: 'postgres:13.1-alpine'
    container_name: database
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    expose:
      - "${POSTGRES_PORT}"
    networks:
      - service-network
    volumes:
      - database-data:/var/lib/postgresql/data/
    command: postgres -p ${POSTGRES_PORT}

  backend:
    image: 'app:latest'
    build: storageService/application/src/main/docker
    container_name: backend
    restart: unless-stopped
    environment:
      - SPRING_DATASOURCE_URL=${DB_PROVIDER}:${DB_DRIVER}://${DB_IP:-localhost}:${POSTGRES_PORT}/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=${SPRING_JPA_HIBERNATE_DDL_AUTO}
    expose:
      - "${JAVA_PORT}"
    ports:
      - "${JAVA_PORT}:${JAVA_PORT}"
    depends_on:
      - database
    volumes:
      - service-volume:/var/lib/spring-cloud/config-repo
    networks:
      - service-network

networks:
  service-network:
    driver: bridge

volumes:
  service-volume:
    driver: local
  database-data: