version: '3.1'

services:
  socks-service:
    container_name: socks-service
    image: socks-service:1.0
    depends_on:
      - socks-db
    ports:
      - 8080:8080
    environment:
      - PORT=${SOCKS_SERVICE_PORT}
      - SPRING_DATASOURCE_URL=${SOCKS_SERVICE_JDBC_URL}/${SOCKS_DB_NAME}
      - SPRING_DATASOURCE_USERNAME=${SOCKS_DB_ADMIN_USER}
      - SPRING_DATASOURCE_PASSWORD=${SOCKS_DB_ADMIN_PASS}

  socks-db:
    container_name: socks-db
    image: postgres:14
    environment:
      - POSTGRES_DB=${SOCKS_DB_NAME}
      - POSTGRES_USER=${SOCKS_DB_ADMIN_USER}
      - POSTGRES_PASSWORD=${SOCKS_DB_ADMIN_PASS}