version: '2'

services:
  app:
    image: 'demo:latest'
    build:
      context: .
    container_name: app
    ports:
      - 8080:8080
    networks:
      - sail
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/compose-postgres
      - SPRING_DATASOURCE_USERNAME=compose-postgres
      - SPRING_DATASOURCE_PASSWORD=compose-postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

  db:
    image: 'postgres:13.1-alpine'
    container_name: db
    volumes:
      - 'pgsql:/var/lib/postgresql/data'
    networks:
      - sail
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
networks:
  sail:
    driver: bridge
volumes:
  pgsql:
    driver: local
