version: '2'
services:
  app:
    container_name: springboot-socks-container
    image: socks-image
    build: ./
    ports:
      - "8080:8080"
    depends_on:
      - postgresqldb
  postgresqldb:
      image: postgres
      ports:
        - "5432:5432"
      environment:
        - POSTGRES_PASSWORD=heroes123
        - POSTGRES_USER=postgres
        - POSTGRES_DB=socks_db