version: "3"
services:
  API:
    image: cib-interns-test-task
    ports:
      - 8080:8080
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/storage
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=password
      #- SPRING_JPA_HIBERNATE_DDL_AUTO=update
  postgres:
    image: library/postgres:alpine
    build: ./src/main/resources/db/migration
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=storage
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  flyway:
  #boxfuse/flyway:5-alpine
    image: flyway/flyway:6-alpine
    command: -url=jdbc:postgresql://postgres:5432/storage -schemas=public -user=postgres -password=postgres migrate
    volumes:
      - ./src/main/resources/db/migration:/flyway/sql
    depends_on:
      - postgres