spring:
  mvc:
    throw-exception-if-no-handler-found: true
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5432/compose-postgres
    password: compose-postgres
    username: compose-postgres

springfox:
  documentation:
    swagger:
      v2:
        use-model-v3: true

